# Server Configuration
PORT=5000

# Shared Quiz Credentials (Participants)
QUIZ_USERNAME=quiz2026
QUIZ_PASSWORD=play123

# Admin Panel Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminSecret2026

# Auth Security
JWT_SECRET=your_jwt_secret_here
